.App-admin-home {
    background-color: white;
    width: 90%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin-top: -30px;
    margin-bottom: 100px;
    height: 70%;
}

.App-users-info {
    width: 95%;
    font-size: larger;
    border-collapse: collapse;
    margin: auto;
    height: 80%;
}

.App-users-info tr th{
    border: 1px solid #484848;
    background-color: #484848;
    color: white;
    padding: 15px;
}

.App-user-info td{
    border: 1px solid #484848;
    padding: 15px;
}

.App-users-info tr:nth-child(even) 
{
    background-color: whitesmoke;
}

.App-users-info tr:nth-child(even):hover 
{
    background-color: #ff585d;
    color: white;
}

.App-user-info:hover {
    background-color: #ff585d;
    color: white;
}