.App-edit-place-container {
    height: 153vh;
    padding: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-edit-place-form {
    background-color: white;
    width: 60%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin-top: 4%;
}

.App-edit-place-text-inputs {
    display: flex;
    flex-direction: column;
    align-items: left;
    float: left;
    box-sizing: border-box;
    padding: 40px;
    width: 50%;
    height: 41em;
    top:0;
    left:0;
}

.App-edit-place-photos {
    height: 80%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.App-edit-place-date-inputs {
    height: 20%;
    display: flex;
    flex-direction: row;
}

/* CSS for the calendar */
.date-picker-container {
    position: relative;
    /* margin-top: 10px; */
}

.react-datepicker-popper {
    position: absolute;
    top: 100%; /* Position the popper below the input */
    left: 0;
}

.App-edit-place-check-in-check-out {
    margin-right: 5px;
    width: 80%;
    height: 10px;
    display: block;
    /* border: none; */
    padding: 5px 10px;
    font-size: medium;
    border: 1px solid #ff585d;
    outline: none;
}

.App-edit-place-checkbox {
    margin: auto;
    /* width: 30%; */
    font-size: larger;
    font-weight: 500;
    color: #484848;
}

/* Reusing some css from signup component */
.App-signup-form-checkboxes {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.App-signup-form-checkbox {
    margin-right: 8px;
}

.App-edit-place-checkbox-text {
    border: none;
}

.App-edit-place-list-inputs {
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 100%;
}

/* Each list has a third of the parent container as width */
.App-edit-place-list-input {
    width: calc(100%/3);
    margin: 5px;
    
}

.App-edit-place-list-input ul {
    padding-left: 0;
}

.App-edit-place-list-input li {
    list-style-type: none;
    margin: 1px;
}

.App-edit-place-list-input-value {
    display: flex;
    flex-direction: row;
}

.App-edit-place-list-input span {
    width: 50%;
}

.App-edit-place-list-input-remove {
    width: 50%;
}

.App-edit-place-list-input-remove button {
    width: 60%;
    padding: 4px;
    border-radius: 5px;
    color: white;
    background-color: #ff585d;
    border: none;   
    cursor: pointer;
    font-size: small; 
}

.App-edit-place-list-input-remove button:hover {
    background-color: #ee696d;
}

.App-edit-place-list-input-add {
    width: 30%;
    padding: 4px;
    border-radius: 5px;
    color: white;
    background-color: #484848;
    border: none;   
    cursor: pointer;
    font-size: small; 
}

.App-edit-place-list-input-add:hover {
    background-color: #5a5a5a;
}

.App-edit-place-buttons {
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.App-edit-place-buttons-save {
    width: 50%;
}

.App-edit-place-buttons-save button{
    width: 50%;
    height: 80%;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: #484848;
    border: none;   
    cursor: pointer;
    font-size: medium; 
}

.App-edit-place-buttons-save button:hover{
    background-color: #5a5a5a;
}

.App-edit-place-buttons-delete {
    width: 50%;
}

.App-edit-place-buttons-delete button{
    width: 50%;
    height: 80%;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: #ff585d;
    border: none;   
    cursor: pointer;
    font-size: medium; 
}

.App-edit-place-buttons-delete button:hover{
    background-color: #ee696d;
}

.App-edit-place-description {
    width: 100%;
    margin: 10px;
    margin-bottom: 50px;
}

.App-edit-place-description-text {
    width: 80%;
    padding: 40px;
}

.App-edit-place-destroy-buttons-form {
    margin-bottom: 800px; /* new */
    background-color: white;
    width: 40%;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.App-edit-place-destroy-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
}