.App-home {
    height: 110vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.App-tenant-home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App-tenant-home-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.App-tenant-home-left {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
}

.App-tenant-home-right {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}

.App-role-button-container {
    width: 100%;
    height: 30%;
}

.App-role-button {
    margin-top: 20%;
    background-color: #ff585d;
    color: white;
    border: none;
    border-radius: 15%;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    width: 80%;
    align-self: center;
    height: 40%;
}

.App-role-button-2 {
    background-color: #ff585d;
    color: white;
    border: none;
    border-radius: 15%;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    align-self: center;
}

.App-role-button:hover, .App-role-button-2:hover {
    background-color: #ee696d;
}

.App-tenant-home-filters {
    height: 80%;
    background-color: white;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.App-home-image {
    height: 450px;
    width: 450px;
}

.App-home-form {
    background-color: white;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    margin-left: 5%;
}

.App-home-form-details {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.App-home-form-location {
    width: calc(100%/3);
}

.App-home-form-date {
    width: calc(100%/3);
}

.App-home-form-other {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
} 

.App-home-form-text {
    height: 50%;
    width: 100%;
} 

.App-home-form-submit-container {
    height: 50%;
}

.App-home-form-location-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    top:0;
    left:0;
    margin-top: -40px;
}

.App-home-form-location-input {
    width: 80%;
    margin: 10px;
    height: 10px;
    display: block;
    border: none;
    padding: 5px 5px;
    font-size: medium;
    border-bottom: 1px solid #ff585d;
    outline: none;
    /* margin-top: 10px; */
}

.App-home-form-date-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    top:0;
    left:0;
    margin-top: -40px;   
}

.App-home-form-date-input {
    width: 80%;
    margin: 10px;
    height: 10px;
    display: block;
    border: none;
    padding: 5px 10px;
    font-size: medium;
    border-bottom: 1px solid #ff585d;
    outline: none;
    /* margin-top: 30px; */
}

/* CSS for calendar */
.react-datepicker-wrapper {
    width: 80%;
}

.react-datepicker__day--selected{
    background-color: #ff585d;
}

.App-home-form-text-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    top:0;
    left:0;
    margin-top: -40px;
}

.App-home-form-text-input {
    width: 80%;
    margin: 10px;
    height: 10px;
    display: block;
    border: none;
    padding: 5px 10px;
    font-size: medium;
    border-bottom: 1px solid #ff585d;
    outline: none;
    /* margin-top: 30px; */
}

.App-home-form-submit-button {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #ff585d;
    border: none;   
    cursor: pointer;
    font-size: large; 
    margin-top: 35px;
}

.App-home-form-submit-button:hover {
    background-color: #ee696d;
}

.App-home-search-results {
    margin-top: 5%;
    height: 75%;
    width: 90%;
    background-color: white;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin-left: 5%;
}

.App-home-template-result {
    height: 10%;
    width: 90%;
    padding: auto;
    margin-top: auto;
}

.App-tenant-home-dropdown {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
    display: block;
    border: 5px solid white;
    padding: 5px 10px;
    font-size: large;
    border-bottom: 1px solid #ff585d;
    outline: none;
}

.App-tenant-home-dropdown:focus {
    border: 5px solid white;
    border-bottom: 1px solid #ff585d;
}

.App-landlord-home {
    background-color: white;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin-top: 50px;
    /* margin-bottom: 100px; */
    margin-left: 7.52%; 
    height: 80%;
}

.App-place-info td{
    border: 1px solid #484848;
    padding: 15px;
    text-decoration: none
}

.App-place-info:hover{
    background-color: #ff585d;
    color: white;
    cursor: pointer;
}

/* CSS for price slider */
.price-filter {
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    color: black;
}

.rc-slider-rail {
    background-color: #5a5a5a;
}

.rc-slider-track-1 {
    background-color: #ff585d;
}

.price-minmax {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: auto;
}

.price-minmax span {
    width: 50%;
}

.rc-slider-handle {
    border: solid 2px #ff585d !important;
}

.rc-slider-handle:active {
    box-shadow: 0px 0px 0px 5px #ee696d !important;
}

/* More CSS */
.App-tenant-home-filter-checkboxes {
    margin-left: 25%;
}

.App-tenant-home-filter-checkbox {
    margin: 15px;
    display: flex;
    align-items: center;
}

.App-tenant-home-filter-checkbox input {
    flex: none;
}

.App-tenant-home-filter-button-container {
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
}

.App-tenant-home-filter-remove {
    margin-right: auto;
    margin-left: 5%;
    width: 40%;
    height: 50%;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: #484848;
    border: none;   
    cursor: pointer;
    font-size: medium;
    margin-top: 10%; 
}

.App-tenant-home-filter-remove:hover {
    background-color: #5a5a5a;
}

.App-tenant-home-filter-apply {
    margin-left: auto;
    margin-right: 5%;
    width: 40%;
    height: 50%;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: #ff585d;
    border: none;   
    cursor: pointer;
    font-size: medium;
    margin-top: 10%; 
}

.App-tenant-home-filter-apply:hover {
    background-color: #ee696d;
}