.carousel-container {
    height: 100%;
}

/* CSS for remove button of images */
.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: large;
    width: 25px;
    color: #fff;
    background-color: #ff585d;
    border-radius: 50%;
}

.remove-button:hover {
    cursor: pointer;
    background-color: #ee696d;
}

/* More Image Carousel CSS */
.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
    /* height: 60%; */
}

.carousel {
    height: 10%;
}

.carousel-slider {
    height: 80%;
}


.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 30px;
    padding: 5px;
    height: 70%;
}

.carousel .carousel-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    color: #fff;
}