.scroll-container {
    max-height: 1000px;
    overflow-y: auto;
    width: 90%;
}

.scroll {
    width: 95%;
    font-size: larger;
    border-collapse: collapse;
    margin: auto;
    height: 80%;
}

.scroll-body {
    width: 100%;
    box-sizing: border-box;
}

.scroll th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap;
}

.scroll th{
    border: 1px solid #484848;
    background-color: #484848;
    color: white;
    padding: 15px;
}

.scroll tr:nth-child(even) 
{
    background-color: whitesmoke;
}

.scroll tr:nth-child(even):hover 
{
    background-color: #ff585d;
    color: white;
    cursor: pointer;
}

.Add-place-button {
    margin-top: 20px;
    /* width: 10%; */
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: #484848;
    border: none;   
    font-size: large;
    align-self: center;
    cursor: pointer;
}

.Add-place-button:hover {
    background-color: #5a5a5a;
}