.grid {
    margin-top: 2%;
    height: 100%;
    margin-left: 1%;    
}

.grid-buttons {
    height: 6%;
}

/* .MuiGrid-root .MuiGrid-item .MuiGrid-grid-xs-1 .css-1cfh48w-MuiGrid-root { */
/* } */

.css-mhc70k-MuiGrid-root {
    height: 92%;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    height: 50%;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: white !important;
    background-color: #484848 !important;
    border-radius: 5% !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    text-transform: capitalize !important;
    /* font-size: medium !important; */
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #5a5a5a !important;
}