.App-place-container {
    /* height: 100vh; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210vh;
}

.App-place {
    background-color: white;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin: 1.5em;
    height: 95%;
}

.App-place-info-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.App-place-info-container h2 {
    text-align: left !important;
    margin-left: 3%;
    margin-right: 3%;
}

.App-place-stats {
    text-align: left !important;
    margin-left: 3%;
    margin-right: 3%;
}

.App-star {
    height: 14px;
}

.App-place-photos {
    display: flex;
    flex-direction: row;
    height: 25vh;
    margin: 3%;
}

.App-place-first-mini-container {
    display: flex;
    flex-direction: row;
    height: 20vh;
    margin: 3%;
}

.App-place-basic-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1%;
}

.App-place-type-and-host {
    height: 50%;
}

.App-place-guests-and-rooms {
    height: 50%;
}

.App-place-reservation {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: whitesmoke;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin: 1%;
}

.App-place-price {
    display: flex;
    flex-direction: row;
    height: 60%;
}

.App-place-daily-price {
    width: 60%;
}

.App-place-min-price {
    width: 40%;
}

.App-place-description {
    height: 10vh;
    margin: 3%;
    text-align: left !important;
}

.App-place-second-mini-container {
    display: flex;
    flex-direction: row;
    height: 20vh;
    margin: 3%;
}

.App-place-additional-space-info {
    width: 50%;
}

.App-place-time-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.App-place-days-available {
    height: 30%;
}

.App-place-check-in-check-out {
    height: 70%;
    display: flex;
    flex-direction: row;
}

.App-place-check-in {
    width: 50%;;
}

.App-place-check-out {
    width: 50%;
}

.App-place-third-mini-container {
    height: 15vw;
    display: flex;
    flex-direction: row;
    margin: 3%;
}

.App-place-amenities {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.App-place-rules {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.App-place-location {
    height: 40vh;
    margin: 3%;
}

.App-place-address {
    font-size: 20px;
}

.App-place-transit {
    font-size: 15px;
}

.App-place-location h5, h6 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

/**
 * Default house image
 * https://media.istockphoto.com/id/155666671/vector/vector-illustration-of-red-house-icon.jpg?s=612x612&w=0&k=20&c=tBqaabvmjFOBVUibZxbd8oWJqrFR5dy-l2bEDJMtZ40=
 */

/**
 * Star image
 * https://static.vecteezy.com/system/resources/previews/001/189/080/original/star-png.png
 */