.App-place-container {
    /* height: 100vh; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400vh;
}

.App-place {
    background-color: white;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin: 1.5em;
    height: 95%;
}

.App-place-info-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.App-place-info-container h2 {
    text-align: left !important;
    margin-left: 3%;
    margin-right: 3%;
}

.App-place-stats {
    text-align: left !important;
    margin-left: 3%;
    margin-right: 3%;
}

.App-star {
    height: 14px;
}

.App-place-photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}

/* .App-place-photos .carousel {
    height: 60% !important;
} */

.carousel {
    /* height: 20% !important; */
}

.App-place-first-mini-container {
    display: flex;
    flex-direction: row;
    height: 30vh;
}

.App-place-basic-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1%;
    border-bottom: 2px groove rgba(0,0,0,0.25);
}

.App-place-type-and-host {
    height: 50%;
    display: flex;
    flex-direction: column;
    /* box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75); */
    /* align-items: center; */
}

.App-place-type-and-host h2 {
    text-align: center !important;
    /* flex-direction: column;
    justify-self: center; */
}

.App-place-guests-and-rooms {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-place-guests-and-rooms span{
    margin-right: 2px;
}

.App-place-reservation {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #ff585d;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    color: white;
    margin: 1%;
}

.App-place-reservation-button {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center
    ;
}

.App-place-reservation-button button {
    color: white;
    background-color: #484848;
    /* background-color: #969696; */
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;   
    cursor: pointer;
    font-size: large;
}

.App-place-reservation-button button:hover {
    background-color: #5a5a5a;
}

.App-place-price {
    display: flex;
    flex-direction: row;
    height: 60%;
}

.App-place-daily-price {
    width: 60%;
}

.App-place-additional-price {
    width: 40%;
}

.App-place-description {
    height: 12vh;
    margin: 3%;
    text-align: left !important;
    border-bottom: 2px groove rgba(0,0,0,0.25);
}

.App-place-second-mini-container {
    display: flex;
    flex-direction: row;
    height: 20vh;
    margin: 3%;
}

.App-place-additional-space-info {
    width: 50%;
    border-bottom: 2px groove rgba(0,0,0,0.25);
}

.App-place-time-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border-bottom: 2px groove rgba(0,0,0,0.25); */
}

.App-place-days-available {
    height: 30%;
    background-color: #484848;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    color: white;
}

.App-place-check-in-check-out {
    height: 70%;
    display: flex;
    flex-direction: row;
}

.App-place-check-in {
    width: 50%;
}

.App-place-check-out {
    width: 50%;
}

.App-place-third-mini-container {
    height: 15vw;
    display: flex;
    flex-direction: row;
    margin: 3%;
}

.App-place-amenities {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px groove rgba(0,0,0,0.25);
    margin: 10px;
}

.App-place-amenities ul{
    list-style: none;
    padding: 0;
}

.App-place-rules {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px groove rgba(0,0,0,0.25);
    /* box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75); */
    margin: 10px;
}

.App-place-rules ul {
    list-style: none;
    padding: 0;
}

.App-place-location {
    height: 45vh;
    margin: 3%;
}

.App-place-address {
    font-size: 20px;
}

.App-place-transit {
    font-size: 15px;
}

.App-place-location h5, h6 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.App-place-reviews {
    margin-top: 20%;
}

/**
 * Default house image
 * https://media.istockphoto.com/id/155666671/vector/vector-illustration-of-red-house-icon.jpg?s=612x612&w=0&k=20&c=tBqaabvmjFOBVUibZxbd8oWJqrFR5dy-l2bEDJMtZ40=
 */

/**
 * Star image
 * https://static.vecteezy.com/system/resources/previews/001/189/080/original/star-png.png
 */

 /**/