.App {
  background-color: whitesmoke;
  text-align: center;
}

.App-logo {
  width: 15vw;
}

.App-header {
  align-items: center;
  background-color: #ffffff;
  height: 7.5vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #484848;
  padding: 2vw 3vh;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.App-body {
  height: 90vh;
}

.App-home-image {
  height: 450px;
  width: 450px;
}

.App-signup-form-container {
  height: 90vh;
  padding: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 100px;
}

.App-signup-form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.App-signup-form-input {
  width: 100%;
  margin: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-size: large;
}

.App-signup-form-submit {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #ff585d;
  border: none;   
  cursor: pointer;
  font-size: large; 
}

.App-about p {
  font-size: large;
}

.App-contact h4 {
  font-weight: normal;
}

.App-footer {
  text-align: left;
  background-color: #ff585d;
  color: #ffffff;
  box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.App-footer-title {
  margin-top: 10px;
  margin-left: 5vw;
}

.App-footer-list {
  list-style: none;
}

.App-footer-link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 5vw;
  font-weight: normal;
}

.App-footer-signoff {
  text-align: center;
  font-size: small;
}